.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  background-color: #000;
}
.footer span {
  float: right;
  color: #ffffff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  padding-top: 10px;
  padding-right: 5px;
  font-style: italic;
}